.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}
.add-option__input {
  color: $off-white;
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin-top: $m-size;
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }
  
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}